<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{ISO8601} [%t] %-5p %c{40}:%L - %msg%n</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>

	<logger name="de.cronn.camunda" level="DEBUG"/>

</configuration>
